.search{
    display: flex; 
}
.input{
    margin-right: 0.5rem;
    padding: 0.3rem 0;
    border-radius: 10px;
}
button{
    padding: 0.3rem ;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--color-naranja-botones);
    color: #fff;
    transition: 1s;
    border: solid 1px #000;
}
button:hover{
background-color:var(--color-hoverBtn-botones);
}
